<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML5 Login Form with validation Example</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/src/scripts.js}"></script>
    <!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"-->
    <!--          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->
</head>
<body>
<div id="account-form-wrap">
    <form th:action="@{/logout}" method="post">
        <input id="account_exit" type="submit" value="X"/>
    </form>
    <h2>Личный кабинет</h2>

    <div class="block1">
        <pre>Ваши данные</pre>
        <div class="dataForm">
            <form th:method="POST" th:action="@{/edit/user}" th:object="${userInfo}">
                <button type="submit" disabled id="save">✔</button>
                <button th:onclick="editUserInfo()" id="edit">✎</button>
                <div id="tessst">
                    <label id="test2" for="login">Логин:</label>
                        <input id="login" type="text" th:field="*{login}" disabled required>
                </div>
                <div id="tessst">
                    <label id="test2" for="name">Имя:</label>
                        <input id="name" type="text" th:field="*{name}" disabled required>
                </div>
                <div id="tessst">
                        <label id="test2" for="lastname">Фамилия:</label>
                        <input id="lastname" type="text" th:field="*{lastname}" disabled required>
                </div>
                <div id="tessst">
                    <label id="test2" for="email">Email:</label>
                        <input id="email" type="email" th:field="*{email}" disabled required>
                </div>
            </form>
        </div>
    </div>
    <pre id="transactionsLabel">Транзакции по карте</pre>
    <div class="block2">
        <table>
            <tr>
                <th>Количество бонусов</th>
                <th>Дата транзакции</th>
            </tr>
            <tr th:each="prod : ${transaction}">
                <td th:text="${prod.amount}"></td>
                <td th:text="${prod.transactionDate}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>


</body>
</html>


